{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Your Account {% endblock %}</h1>
    <form method="post">
        <input type="text" name="username" placeholder="Username" required autocomplete="off">
        <input type="password" name="passwd" placeholder="Password" required autocomplete="off">
        Create Account ? <input type="checkbox" name="create" >
        <input type="submit" value="account">
    </form>
    <a class="nav-link" href="/delete">Delete your account</a>
    {{ answer }}
{% endblock %}