{% extends 'base.html' %}

{% block content %}
<div class="boxacc">
    <h1 class="youracc">{% block title %} Connexion {% endblock %}</h1>
    <form method="post" class="connexion">
        <div class="checkb">
            <h2 class="createacc">Create Account ?</h2><input type="checkbox" name="create" >
        </div>
        <input class="textinp" type="text" name="username" placeholder="Username" required autocomplete="off">
        <input class="textinp" type="password" name="passwd" placeholder="Password" required autocomplete="off">
        <input class="btn_acc" type="submit" value="Log in/Register">
    </form>
    <h1 class="answer_acc">{{ answer }}</h1>
</div>
{% endblock %}