{% extends 'base.html' %}

{% block content %}
    <h1 class="answer_srch">{{ answer }}</h1>
    <div class="boxtop">
    <h2 class="results" >Results for: {{ game }}</h2>
    <form class="btn_form" method="POST" action="/search">
        <input type="hidden" name="like_btn" value="like">
        <input class="btn_like" type="submit" value="{{ heart }}">
    </form>
</div>
    <img class="imgsrch" src="{{ imggame }}">
    <div class="mbox">
        <h2 class="res">{{ plat1 }}: {{ price1 }}€</h2>
        <a class="resurl" href="{{ url1 }}">Go to website</a>
    </div>
    <div class="mbox">
    <h2 class="res">{{ plat2 }}: {{ price2 }}€</h2>
    <a class="resurl" href="{{ url2 }}">Go to website</a>
    </div>
    <div  class="mbox">
    <h2 class="res">{{ plat3 }}: {{ price3 }}€</h2>
    <a class="resurl" href="{{ url3 }}">Go to website</a>
    </div>
{% endblock %}